
body {
  margin: 0;
  font-display: optional;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

button:active {
  background-color: hsl(0,0%,90%) !important;
}
